<h3>Projects#show</h3>
<p>Find me in app/views/projects/show.html.erb</p>


<h3> <%= @project.title %>  </h3>

<h3> <%= @project.description %>  </h3>


<h3> $<%= @project.goal_amount %>  </h3>

<h3> <%= @project.deadline %>  </h3>
